<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jobseekers</title>
  <link href="/stylesheets/style1.css" rel="stylesheet">
</head>
<body>
  <div class="page-container">
    <div class="top-bar">
      <a href="/">Go to main page</a>
    </div>

    <h1>All Seekers</h1>

    <div class="users">
      <% if (seekers.length > 0) { %>
        <% seekers.forEach(function(seeker) { %>
          <div class="user">
            <div class="user-image">
              <img src="<%= seeker.image %>" alt="user image">
            </div>
            <h3>Name: <%= seeker.name %></h3>
            <h5>Role: <%= seeker.jobs %></h5>
            <h5>Phone: <%= seeker.phone %></h5>
            <h5>City: <%= seeker.city %></h5>
          </div>
        <% }) %>
      <% } else { %>
        <h3 class="no-seekers">No seekers Yet</h3>
      <% } %>
    </div>
  </div>
</body>
</html>
