<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seeker Cards</title>
  <link href="/stylesheets/card/card.css" rel="stylesheet">
</head>

<body>
  <div class="page-container">
    <div class="home">
      <a href="/">Go to Home</a>
    </div>
    <h1>Our Seekers</h1>

    <div class="card-container">
      <% if (seekers.length> 0) { %>
        <% seekers.forEach(function(seeker) { %>
          <div class="card">
            <div class="card-image">
              <img src="<%= seeker.image %>" alt="<%= seeker.name %>">
            </div>
            <div class="card-content">
              <h2>Name:- <%= seeker.name %>
              </h2>
              <h3>Role:-
                <%= seeker.jobs %>
              </h3>
              <h3>Phone:-
                <%= seeker.phone %>
              </h3>
              <h3>City:-
                <%= seeker.city %>
              </h3>
            </div>
          </div>
          <% }) %>
            <% } else { %>
              <h3 class="no-seekers">No seekers yet</h3>
              <% } %>
    </div>
  </div>
</body>

</html>